<div class="container">    
    <a href="#" routerLink="/adminDashboard" style=" margin:2%;"class="btn btn-success">Back</a>
    <h1 style="margin: 2%;">All User Profiles</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
              <tr>
                <th></th>
                <th>UserId</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Password 
                <i class="far" (click)="togglePasswordVisibility()" 
              [ngClass]="{'fa-eye-slash': !showPassword, 'fa-eye': showPassword}"></i>
                </th>
                <th></th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let post of users">
                <td></td>
                <td>{{ post.userid }}</td>
                <td>{{ post.username }}</td>
                <td>{{ post.email }}</td>
                <td>{{ showPassword ? post.password : '*********' }}</td>
              </tr>
        </tbody>
    </table>
 </div>