<div class="jumbotron shadow-sm hero-technology" style="background-color: white;">
    
    <h5>
        <marquee style="color:rgb(237, 61, 61)" direction="right" height="100px" scrollamount="10">
            SaveUrShow which makes u easier to book ur favv showw..!!!
            </marquee>
    </h5>
        <br>
    <div style="padding-left: 10%;">
        <h1 style="color:rgb(12, 12, 12)" class="hero-title">Book ur fav show...!!</h1></div> 
    <br><br>
    <div style="padding-left: 12%;">
        <p style="color:rgb(12, 12, 12)" class="hero-subtitle">SaveUrShow</p>
    </div>
    <br>
    <br>
</div>
